
 <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Elegant Dashboard | Sign In</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="/public/elegant/img/svg/logo.svg" type="image/x-icon">
      <!-- Custom styles -->

     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
  <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <link href="/public/asset/dashboard.css" rel="stylesheet">
      <link href="/public/mc-calendar.min.css" rel="stylesheet">
      <script src="/public/mc-calendar.min.js"></script>
      <script src="//cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

      <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
       
<script type="text/javascript">
  $('.degerBuyuk').keyup(function(){
      this.value=this.value.toUpperCase();
  });
  </script>
      <style>
        .mc-picker{z-index:1151 !important;}
        </style>
  
    </head>
   <body>
 
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/"></a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="/control/cikis">Çıkış</a>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
   <%- include("navbar.ejs")%>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    
     <%- body%>
    </main>
  </div>
</div>


     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>


      <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
      <script src="/public/asset/dashboard.js"></script>
   </body>
</html>  

<script>
  const myDatePicker = MCDatepicker.create({ 

        el: '#tarih', // input id ile eşleşmeli
        showCalendarDisplay: false, // Takvim görünümü istiyorsanız `true` yapınız
        dateFormat: 'YYYY-MM-DD', // Tarih formatı
        customClearBTN: 'Temizle', // Temizle butonu yazısı
        customOkBTN: 'Tamam', // Tamam butonu yazısı
        customCancelBTN: 'İptal Et', // İptal Et butonu yazısı
        customWeekDays: [
         'Pazartesi',
         'Salı',
         'Çarşamba',
         'Perşembe',
         'Cuma',
         'Ctesi',
         'Pazar'
        ], // Türkçe gün isimleri
        customMonths: [
        'Ocak',
        'Şubat',
        'Mart',
        'Nisan',
        'Mayıs',
        'Haziran',
        'Temmuz',
        'Ağustos',
        'Eylül',
        'Ekim',
        'Kasım',
        'Aralık'
        ] // Türkçe ay isimleri
  });
</script> 