    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
		  <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin/">
              <span data-feather="home"></span>
              Ana Sayfa
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin/kayit">
              <span data-feather="home"></span>
              Öğrenci Kayıt
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin/ogrenciler">
              <span data-feather="home"></span>
              Öğrenci Listesi
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin/giderkalemleri">
              <span data-feather="home"></span>
              Gider Kalemleri
            </a>
          </li>   
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin/sinavlar">
              <span data-feather="home"></span>
              Sınavlar
            </a>
          </li>  

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin/siniflar">
              <span data-feather="home"></span>
              Siniflar
            </a>
          </li>  

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin/personeller">
              <span data-feather="home"></span>
              Personeller
            </a>
          </li>  
        </ul>

     
      </div>
    </nav>
