
<div class="container">
  <div class="row justify-content-md-center ">
    <div class="col col-lg-3">
    <%if(typeof(mesaj)!=="undefined"){%>
    <%=mesaj%>
    <%}else{%>
<%if(typeof(deger) !=="undefined"){%>

      <form action="/control/newpassword" method="POST">
       <input type="hidden" name="password_link_" class="form-control" value="<%=deger%>" >
         <div class="mb-3">
            <label  class="form-label">Şifreniz</label>
            <input type="text" name="password" class="form-control" >
         
         </div>

         <div class="mb-3">
            <label  class="form-label">Şifreniz Tekrar</label>
            <input type="text" name="passwordre" class="form-control" >
         </div>

        <%if(typeof(hata)!=="undefined"){%> <div class="mb-3">
            <label  class="form-label"> <%=hata%></label>
           
         </div>
        <%}%>
         <button type="submit" class="btn btn-primary">Submit</button>
         </form>
         <%}%>

          <%}%>
    </div>


  </div>
</div>

