
      <div class="container">
  <div class="row justify-content-md-center ">
    <div class="col col-lg-3">
      <form action="/control/signup" method="POST">
         <div class="mb-3">
            <label  class="form-label">Adınız</label>
            <input type="text" name="ad" class="form-control"  >
           
         </div>
          <div class="mb-3">
            <label class="form-label">Soyadınız</label>
             <input type="text" name="soyad" class="form-control"  >
         </div>
          <div class="mb-3">
            <label class="form-label">Email address</label>
            <input type="email" name="email" class="form-control"  aria-describedby="emailHelp">
           
         </div>
         <div class="mb-3">
            <label class="form-label">Kullanıcı Adınız</label>
            <input type="text" name="kullaniciAdi" class="form-control">
            
         </div>
         <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="sifre" class="form-control" id="exampleInputPassword1">
         </div>
         <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember me next time</label>
            <label class="form-check-label" ><a class="link-info forget-link" href="##">Forgot your password?</a></label>
         </div>
         <button type="submit" class="btn btn-primary">Kayıt Ol</button>
         </form>
    </div>


  </div>
</div>


      