
<div class="container">
  <div class="row justify-content-md-center ">
    <div class="col col-lg-3">
      
         <div class="mb-3">
            <label  class="form-label">Başarıyla Kayıt Oldunuz.</label>
            
         </div>
    
    </div>


  </div>
</div>

