
<div class="container">
  <div class="row justify-content-md-center ">
    <div class="col col-lg-3">
      <form action="/control/verifity" method="POST">
         <div class="mb-3">
            <label  class="form-label">Doğrulama Kodunu Giriniz</label>
            <input type="text" name="verifity" class="form-control" >
          
         </div>
    
         <button type="submit" class="btn btn-primary">Submit</button>
         </form>
    </div>


  </div>
</div>

